<template>

    <div id="app">

        <img src="./assets/logo.png">
        <router-view/>

    </div>

</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import $ from './ies_lib';

// Library Test


// End Library Test

//async function asyncFunction () {
//    console.log('1');
//    console.log(await resolveAfter2Seconds());
//}
//
//function resolveAfter2Seconds () {
//    return new Promise(resolve => {
//        setTimeout(() => {
//            resolve('2');
//        }, 2000);
//    });
//}
//
//asyncFunction()

export default {
    data () {
        return {
            x: null,
            a: true,
            b: true,
            c:
            [
                {
                    a: 'sup',
                },
                {
                    a: 'monkey',
                },
                {
                    a: 'apple',
                },
                {
                    a: 'bravo',
                },
            ]
        }
    },
    watch: {
        x () {
            console.log(this.x);
        }
    },
    mounted () {
//        console.log($.getDimensions(this));
        var refer = this;
        window.addEventListener('resize', function () {
            console.log($.getDimensions(refer));
        });
    },
    created () {
//        var axiosRoute = this.$apiurl + 'Employees(\'' + this.sEmployeeId + '\')';
        $.apiRequest(this, {
            type: 'get',
            route: 'http://res-web02.iesre.com:8020/odata/UserInfoes'
        }).then(res => {
//            console.log(res);
        });
//        this.axios.get('http://res-web02.iesre.com:8020/odata/UserInfoes', { withCredentials: true })
//                .then((res) => {
//                    console.log(res.data);
//                    return res.data;
//                });

//        console.log(this.$store.state.moduleA.countA);
//        this.$store.dispatch('actionA').then(() => {
//            this.$store.commit({
//                type: 'increment',
//                amount: 2
//            });
//            console.log(this.count);
//        });
//        this.$store.dispatch('moduleA/incrementA');
//        console.log(this.$store.state.moduleA.countA)
    },
    computed: {
        ...mapState([
            'count'
        ]),
        ...mapGetters([
            'getTodoById'
        ])
    },
    methods: {
        ...mapActions('./modules',[
            'moduleA'
        ])
    }
}

</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
